bandit
black
discord-interactions
flask
gunicorn
ipdb
ipython
mypy
pylint
pylint-pytest
pytest
pytest-cov
python-dateutil
python-dotenv
python-levenshtein
requests
responses
sentry-sdk[flask]
types-python-dateutil
types-requests
