aiohttp==3.4.4
async-timeout==3.0.1
attrs==18.2.0
chardet==3.0.4
discord.py==1.0.0a1621+g66e5033
Django==2.1.4
idna==2.7
multidict==4.5.2
psycopg2-binary==2.7.6.1
pytz==2018.7
raven==6.9.0
websockets==6.0
yarl==1.2.6
