[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-docstrings = "*"
flake8-todo = "*"
bandit = "*"
mypy = "*"
click = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"

[packages]
asyncpg = "*"
discord-py = {file = "https://github.com/Rapptz/discord.py/archive/rewrite.zip"}
python-levenshtein = "*"
sentry-sdk = "*"

[requires]
python_version = "3.7"
